# Виртуальное окружение
venv/
env/
.env

# Файлы Python
__pycache__/
*.pyc
*.pyo

# База данных (если не хотите публиковать тестовые данные)
*.db
*.sqlite3

# Логи
*.log

# Файлы IDE
.vscode/
.idea/
*.swp

# Stripe CLI (если он лежит в папке проекта)
stripe.exe